.service-item.style1 .service-img {
    border: none;
    margin: 0;
}
.service-item .service-img img {
    border: 1px solid gray;
    border-radius: 50%;
}
.service-item.style1 .service-info h4 {
    font-size: 30px;
}
.service-item .service-info p {
    color: gray;
}
.service-item .service-info a:hover {
    color: #78d2ff;
}
.cbottom-10 {
    bottom: 10px;
}
.cbottom-20 {
    bottom: 20px;
}
.cbottom-30 {
    bottom: 30px;
}
.cbottom-40 {
    bottom: 40px;
}
.cbottom-50 {
    bottom: 50px;
}