.navbar-button {
    border-radius: 20px;
}
.header-top-left > a {
    color: white;
}
.header-top-right > .ri-subtract-line {
    transform: rotate(90deg);
    color: white;
    font-size: 25px;
}
.header-top-right .top-img > img {
    width: 30px;
    border-radius: 50%;
}
.header-wrap .nice-select {
    padding-left: 0px;
}
.header-wrap .nice-select .list {
    width: 50px;
}